.layout{
    width: 100vw;
    height: 100vh;
    border-radius: 2px;
    overflow: hidden;

    .avatar{
        display: block;
        width: 100%;
        height: 64px;
        line-height: 64px;
        background: rgba(255,255,255,.2);
        border-radius: 6px;
        margin-inline-end: 24px;
        background-color: #00D27B;
    }
}

.header{
    background-color: white;
    padding: 0;
    position: relative;
    .btn-expand{
        width: 64px;
        height: 64px;
    }

    .avatar{
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        width: 64px;
    }
}

.content{
    padding: 24px;
    min-height: 280px;
}