.we-chat-ui {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .left {
        width: 30%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .user-item {
            height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
            border: 1px dashed;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #ccc;
                border-color: rgba($color: #000000, $alpha: .3);
            }
        }

        .active {
            background-color: rgba($color: #000, $alpha: .3);
            border-color: red;
        }
    }

    .divider {
        height: 100%;
    }

    .right {
        width: 70%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .msg-container {
            height: calc(100% - 50px);
            overflow-x: hidden;
            overflow-y: auto;

            .msg-item {
                height: auto;
                min-height: 60px;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                margin-bottom: 25px;

                .reader,
                .sender {
                    display: flex;
                    align-items: center;
                    position: relative;
                }

                .reader {
                    align-self: self-start;
                }

                .sender {
                    align-self: self-end;
                    .tip{
                        left: 20px;
                    }
                }

                .msg {
                    max-width: 60%;
                    min-width: 300px;
                    min-height: 50px;
                    word-break: break-word;
                    white-space: pre-line;
                    padding: 10px;
                    border: 1px solid #ccc;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    margin: 0 15px;
                }

                .tip {
                    font-size: 12px;
                    color: rgba($color: #333, $alpha: 0.2);
                    position: absolute;
                    margin-top: 10px;
                    left: 50px;
                    top: 100%;
                }
            }
        }

        .send-msg {
            height: 50px;
            width: 80%;

            .btn {
                height: inherit;
                width: 100px;
            }
        }
    }
}