.game-ui {

    height: 100%;
    width: 100%;

    .item, .result {
        margin-bottom: 10px;
        padding-left: 40px;

        .reset {
            background-color: red;

        }
    }

    .result{
        overflow-y: auto;
        height: calc(100% - 200px);
    }
}